<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/#">Ресторан</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"> <a class="nav-link" href="/menu">Меню</a></li>
      <li class="nav-item"> <a class="nav-link" href="/kitchen">Кухня</a></li>
      <li class="nav-item"> <a class="nav-link" href="/guests">Гости</a></li>
      <li class="nav-item"> <a class="nav-link" href="/orders">Заказы</a></li>
      <li class="nav-item"> <a class="nav-link" href="/booking">Бронирование</a></li>
      <li class="nav-item"> <a class="nav-link" href="/suppliers">Поставщики</a></li>
      <li class="nav-item"> <a class="nav-link" href="/employee">Сотрудники</a></li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if session.logged_in %}
        <li class="nav-item active"> <a class="nav-link" href="/my_profile">мой профиль</a></li>
        <li class="nav-item active"> <a class="nav-link" href="/logout">выйти</a></li>
      {% else %}
        <li class="nav-item active"> <a class="nav-link" href="/register">регистрация</a></li>
        <li class="nav-item active"> <a class="nav-link" href="/login">вход</a></li>
      {% endif %}
    </ul>
  </div>
</nav>